/* Banner Css Start */
.member-item {
    &:not(:first-child) {
        margin-inline-start: -16px;
        z-index: 1;
        position: relative;
    }
}

.banner-thumbs {
    @media (min-width: 992px) {
        margin-top: -110px;
    }
}

.banner-content {
    .border-end {
        @media (max-width: 575px) {
            border: 0 !important;
        }
    }
}
/* Banner Css End */