/* Gap Css Start */
.gap {
    &-12-px {
        gap: 12px;
    }
    &-s-40-px {
        gap: 40px;
    }
    &-40-px {
        gap: unquote("clamp(1.25rem, -2.8094rem + 5vw, 2.5rem);");
    }
    &-20-px {
        gap: unquote("clamp(1rem, -2.8094rem + 5vw, 1.5rem);");
    }
}
/* Gap Css End */