/* ==================== Headers Css Start ================================= */
.search-box {
    @media (max-width: 991px) {
        max-width: 100%;
    }
    .form-control {
        padding-inline-end: 120px !important;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    @media (max-width: 424px) {
        .pe-4 {
            padding-inline-end: 8px !important;
        }
        .ps-4 {
            padding-inline-start: 8px !important;
        }
    }
}

.main-menu.style-two > ul > li > a {
    padding: 18px 0;
}
/* ==================== Headers Css End ================================= */